/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #852e7f;
  --ifm-color-primary-dark: #732978;
  --ifm-color-primary-darker: #71276e;
  --ifm-color-primary-darkest: #5b205d;
  --ifm-color-primary-light: #923391;
  --ifm-color-primary-lighter: #993599;
  --ifm-color-primary-lightest: #a53cad;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #c225ab;
  --ifm-color-primary-dark: #af21a3;
  --ifm-color-primary-darker: #a51fa3;
  --ifm-color-primary-darkest: #881a82;
  --ifm-color-primary-light: #d529b8;
  --ifm-color-primary-lighter: #d832bf;
  --ifm-color-primary-lightest: #dd4fd1;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}
